/* navbar */
.navBarContainer {
  display: grid;
  grid-template-rows: 1fr;
  border-bottom: 1px solid var(--breakline-color);
  padding-top: 5px;
  background-color: #001935;
  border-bottom: 1px solid #21374F;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}


.navbar-links li{

  list-style: none;
  display:inline-block;
  margin-top: 5px;

  }
  .navbar-links li a{
    text-decoration: none;
    color:#2F8D46;
    font-size: 18px;
    padding:8px 20px;
    
    }

    .navbar-links li a:hover{
      color:deepskyblue;
      border-radius: 2px;
      
      }
      
.nav-bar-left{
  display: flex;
  flex-wrap: nowrap;
  grid-row: 1/2;
}

.nav-bar-right{
  display: flex;
  justify-content: flex-end;
  margin: 3px 50px 0 0;
  grid-row: 1/2;
  max-height: 45px;
}

.logo-image{
  background: transparent;
  border: none;
  left: 2%;
  cursor: pointer;
}

.searchNavBar {
  padding-top: 2px;
  padding-bottom: 7px;
}
.search-bar {
  background-color: #758494;
  color: ghostwhite;
  position: relative;
  /* top: 5%;
  left: 9%; */
  height: 30px;
  width: 300px;
  border-radius: .5rem;
  border: none
}

.search-submit {
  position: relative;
  top: 30%;
  left: 5%;
}
